# Django
SECRET_KEY=cambia-esto-por-una-clave-secreta-larga-y-aleatoria
DEBUG=True

# Base de datos
DB_NAME=api_auth_db
DB_USER=tu_usuario_postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432

# JWT
ACCESS_TOKEN_LIFETIME_MINUTES=15
REFRESH_TOKEN_LIFETIME_DAYS=7

# Seguridad
MAX_FAILED_ATTEMPTS=5
LOCKOUT_DURATION_MINUTES=15